* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
form {
    position: relative;
    width: 70%;
    h1 {
        color: white;
        margin-bottom: 20px;
    }
    input {
        border: none;
        height: 40px;
    }
    input:focus {
        outline: none;
    }
    input[type='text'] {
        width: 85%;
        font-size: 20px;
        padding: 20px;
        border-radius: 10px 0px 0px 10px;
    }
    input[type='submit'] {
        position: relative;
        top: -2px;
        width: 10%;
        cursor: pointer;
        font-weight: bold;
        border-radius: 0px 10px 10px 0px
    }
    input[type='submit']:hover {
        background-color: rgb(170, 167, 167);
    }
    #message-container {
        position: absolute;
        top: 150px;
        font-size: 22px;
    }
}
